.layout {
    margin: 100px 0 0;
    text-align: center;
}
.main_class h2 {
    padding: 22px 0;
}
.inner_class {
    background: rebeccapurple;
    width: 100vw;
}
.inner_class ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 20px;
}
.inner_class ul li a {
    color: #ccc;
    text-decoration: none;
}
.inner_class ul li a:hover {
    color: #fff;
}
@media screen and (max-width: 768px) {
    .inner_class {
        width: 1250px;
        height: auto;
    }
    .inner_class ul {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .inner_class ul li {
        margin: 10px 0;
        text-align: start;
    }
    .inner_class ul li a {
        font-size: 20px;
        display: flex;
        justify-content: end;
    }
    .inner_class ul li a:hover {
        color: #fff;
    }
    
}