.all_vids_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 12px;
    /* width: 100%; */
    margin: 14px 14px 0;
    padding-bottom: 10px;
}
.videos_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.vid_title {
    /* text-decoration: none; */
    color: #000;
    flex-wrap: wrap;
    margin: 8px 0 21px;
}
.subscribe {
    text-decoration: none;
    color: #000;
    padding-left: 32px;
    padding-bottom: 38px;
}