.footer_wrapper {
    max-height: 260px;
    width: 100vw;
    background-image: url('../../assets/Img/cloud-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 10;
}
.inner_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 96px;
}
.footer_logo {
    margin-left: -120px;
    text-align: center;
}
.footer_logo img {
    width: 98px;
}
.footer_logo ul {
    list-style: none;
    display: flex;
    gap: 18px;
    margin-top: 16px;
}
.footer_logo ul a {
    text-decoration: none;
    color: black;
    font-size: 21px;
}
.footer_logo ul a:hover {
    color: rgb(32, 32, 230);
}
.class_links {
    font-size: 18px;
}
.class_links ul {
    list-style: none;
    margin-top: 12px;
    line-height: 28px;
}
.class_links a {
    text-decoration: none;
    color: #000;
}
.class_links a:hover {
    text-decoration: underline;
}
.class_wrapper {
    display: block;
}

.class_wrapper h2 {
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -18px;
    text-decoration: underline;
    padding-bottom: 14px;
}
.breakers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
@media screen and (max-width: 768px) {
    .footer_logo ul {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        margin: 0 200px;
    }
    .class_wrapper {
        display: none;
    }
}