.footer_wrapper {
    height: 260px;
    background-image: url('../../assets/Img/cloud-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.inner_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 16px;
}
.footer_logo {
    margin-left: -120px;
}
.footer_logo img {
    width: 98px;
}
.footer_logo ul {
    list-style: none;
    display: flex;
    gap: 18px;
    margin-top: 16px;
}
.footer_logo ul a {
    text-decoration: none;
    color: black;
    font-size: 21px;
}
.footer_logo ul a:hover {
    color: rgb(32, 32, 230);
}

.class_wrapper h2 {
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.class_links {
    font-size: 18px;
}
.class_links ul {
    list-style: none;
    /* margin-top: 12px; */
    line-height: 28px;
}
.class_links a {
    text-decoration: none;
    color: #000;
}
.class_links a:hover {
    text-decoration: underline;
}
.class_wrapper {
    display: block;
}
.class_wrapper h2 {
    margin-left: -18px;
    text-decoration: underline;
    padding-bottom: 20px;
}
.breakers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    margin-right: 28px;
}